a {
  font-size: 1.5em;
  padding: 0 10px;
  color: white;
  font-family: 'Noto Sans TC', sans-serif;
  text-decoration: none
}

.rightNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navContainer {
  background: #3A5A40;
  height: 30px ;
}