
/* room */
.showroom {
  /* color: #588157; */
  font-size: 30px;
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
  flex: 0 0 33.333333%;
border:1px solid black;
background-color:#3A5A40;
padding: 10px;
margin: 10px;
box-shadow: 1px 1px 1px 1px #022C2E;
 display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  color: white;
  text-align: center;
  font-size: 30px;
  height: 110px;
}

.showroom button {
  text-align: center;
 color: white;
  font-family: 'Josefin Sans', sans-serif;
  border: white;
  background-color: #3A5A40;
  outline: none;
  cursor: pointer;
  color: white;
  display: flex;
flex: 0 0 33.333333%;
border:1px solid black;
background-color:#3A5A40;
padding: 10px;
margin: 0px;
box-shadow: 1px 1px 1px 1px #022C2E;
border-radius: 50px;
font-size: 20px;
width: 160px;
}

.showroom button:hover {
 color:  #A3B18A;
}

/* add picture of plant */
.plantsExit {
color: #588157;
border-radius: 5px;
outline: none;
/* border: white;
background-color: white;
cursor: pointer; */
font-family: 'Josefin Sans', sans-serif;
flex: 0 0 33.333333%;
border:1px solid black;
background-color:#3A5A40;
padding: 10px;
margin: 0px;
box-shadow: 1px 1px 1px 1px #022C2E;
 display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: 20px;
}

.plantpicture button {
outline: none;
border: white;
background-color:white;
cursor: pointer;
}

.plantpicture {
  font-size: 30px;
}

.plantsPicture {
color: #588157;
font-family: 'Josefin Sans', sans-serif;
border:1px solid black;
background-color:#3A5A40;
padding: 10px;
margin: 0px;
box-shadow: 1px 1px 1px 1px #022C2E;
  color: white;
  text-align: center;
  font-size: 30px;
}

.plantsPicture:hover {
  color:#A3B18A;
}

/* header "your plants" */
/* h1 {
text-align: center;
font-family: 'Noto Sans TC', sans-serif; */
/* text-decoration-line: underline; */
/* color: #588157;
font-size: 50px;
flex: 0 0 33.333333%;
border:1px solid black;
background-color:#3A5A40;
padding: 20px;
margin: 0px;
box-shadow: 1px 1px 1px 1px #022C2E;
} */


/* header for plant name, spieces, and color */
.plantsmap {
display: flex;
justify-content: space-between;
flex-direction: column;
color: #588157;
font-family: 'Josefin Sans', sans-serif;
border:1px solid black;
background-color:#3A5A40;
padding: 10px;
margin: 10px;
box-shadow: 1px 1px 1px 1px #022C2E;
  color: white;
  text-align: center;
  font-size: 15px;
}

.plantsmap li{
text-align: center;
}

.plantstextlink {
  text-decoration: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #3A5A40;
  outline: none;
  cursor: pointer;
  color: white;
border:1px solid black;
background-color:#3A5A40;
padding: 10px;
margin: 0px;
box-shadow: 1px 1px 1px 1px #022C2E;
  font-size: 20px;
  border-radius: 30px;
}

.plantstextlink:hover {
  color: #A3B18A;
}

/* list of name, spieces, and color */
.plantsstyles > plants {
  color: #A3B18A;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  color: green;
  text-align: center;
  line-height: 30px;
}


