h1 {
  font-family: 'Noto Sans TC', sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.profile-button { 
   border: #3A5A40;
  background-color: #3A5A40;
  color: white;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
 }