.toprow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid purple;
}

.roomcont {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  color: white;
  text-align: center;
}

.roomcard {
flex: 0 0 33.333333%;
border:1px solid black;
background-color: #588157;
padding: 30px;
margin: 15px;
}

a.link {
  text-decoration: none;
  color: white;
}

a.link:hover {
  text-decoration: none;
  color: white;
}